   <h1>Please confirm the details for returning </h1>
<hr>



<h1><%=current_user.id %></h1>  
<h1><%=current_user.email %></h1>

   <form action="<%= log_path %>" method="POST" enctype="multipart/form-data">
    <input name="_method" type="hidden" value="PATCH" />


 <table class="table table-hover">
  <tr>
    <th>Returned By</th>
    <th>Date Returned</th>
  </tr>

  <tr>
  	<input type="hidden" name="log[returner_id]" value="<%=current_user.id %>"><th><%=current_user.email%>
  </th>	

	
   <th>
   	<input type="hidden" name="log[date_returned]" value="<%= Time.now.strftime("%Y/%m/%d") %>"><%= Time.now.strftime("%Y/%m/%d") %>
   </th>

  </tr>
</table>


<input type="submit" value="Submit">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


</form>
