<h1>Logs index</h1>
<p>Find me in app/views/logs/index.html.erb</p>

<hr>

<p><%=current_user.id%></p>
<p><%=current_user.user_name%></p>
<p><%=current_user.email%></p>




<h2>All item logs</h2>

<br />
<hr>

<a class="btn btn-primary" href="/logs/new" role="button">New log </a>



<hr>

<table class="table table-hover">

  <tr>
    <th>Log id</th>
    <th>Tech User</th>
    <th>Item</th>
    <th>Tech Given To</th>
    <th>Date Taken</th>
    <th>Returned By</th>
    <th>Date Returned</th>

  </tr>
  <% @logs.each do |log| %>
  <tr>
  <th><%= log.id %></th>
  <th><%= log.user.id %><%= link_to log.user.user_name, log %></th>
  <th><%= log.item.item_model %></th>   
   <th><%= log.given_to %></th>
   <th><%= log.date_taken %></th>
   <th><%= log.returner.try(:user_name) %></th>
   <th><%= log.date_returned %></th>

  </tr>

   <%end%>
</table>


