<h1>Logs index</h1>
<p>Find me in app/views/logs/index.html.erb</p>

<hr>

<h2>All item logs</h2>

<table class="table table-hover">

  <tr>
    <th>Log id</th>
    <th>Item</th>
    <th>Tech User</th>
    <th>Tech Given To</th>
    <th>Date Taken</th>
    <th>Returned By</th>
    <th>Date Returned</th>
    <th>checked</th>
  </tr>
<% @logs.each do |log| %>
  <tr>
   <th><%= log.item.id %></th>
   <th><%= log.item.item_model %></th>
   <th><%= link_to log.user.user_name, log %></th>
   <th><%= log.user.given_to_user_id %></th>
   <th><%= log.date_taken %></th>
   <th><%= log.user.given_to_user_id %></th>
   <th><%= log.date_returned %></th>
   <th><%= log.checked %></th>
  </tr>

   <%end%>
</table>