


	<div class="text-center">	
  <h1>Add a new log</h1>
     <form class="" action="<%= logs_path %>" method="POST">
       <table class="table table-hover">
        <thead>
          <tr>
            <th>Tech User</th>
            <th>Item model - serial number</th>
            <th>Tech Given To</th>
            <th>Date Taken</th>
          </tr>
         </thead>

        <tr>
        	
        	<th>
        		<input type="hidden" name="log[user_id]" value="<%=current_user.id%>"><%=current_user.email%>
        </th>	
      	<th>



      	<select name="log[item_id]" class="form-control">
      		 <% @item.each do |item| %>
            <%if item.loan?%>
      	     <option value="<%=item.id%>"><%= item.item_model %> - <%= item.item_serial_number %></option>
            <%end%>
      	  <%end%>
      	</select>




      	</th>
      	 <th>
           <input list="give" name="log[given_to]" class="form-control" placeholder="myself">
            <datalist id="give">
            <option value="myself"></option>
              <% @user.each do |user| %>
              <option value="<%=user.email%>"></option>
              <%end%>
            </datalist>
      		  
      		</select>
       	</th>
         <th>
         	<input type="hidden" name="log[date_taken]" value="<%= Time.now.strftime("%Y/%m/%d") %>"><%= Time.now.strftime("%Y/%m/%d") %>
         </th>
        </tr>
      </table>

        <!--   <input type="hidden" name="item[loan]" value="<%= false %>"> -->


      <input type="submit" class="btn btn-primary largeBtn" value="Add new Log">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  </form>

</div>  



   






