<div class="container-fluid" id="items">
  <div class="row">
      <div class="col-xs-12">
          <h1>Items</h1>

          <div class="summary">
            <div>
              Total : <%= @items.length %>
            </div>
            <div>
              Available : <%= @available %>
            </div>
            <div>
              Out : <%= @out %>
            </div>
          </div>
          <div>
            
            <!-- <p>
                <h4>Academy</h4><br />
                <input id="person_country_usa" name="person[country]" type="radio"
            value="richmond" /> Richmond<br />
                <input id="person_country_canada" name="person[country]" type="radio"
            value="Leeds" /> Leeds<br />
                <input id="person_country_mexico" name="person[country]" type="radio"
            value="Birmingham" /> Birmingham<br />
            </p> -->



          </div>

          <table class="table table-hover">
             <thead>
                <tr>
                  <th>Item id</th>
                  <th>Description</th>
                  <th>Lender</th>
                  <th>Borrower</th>
                  <th>Due Date</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
             </thead>
            <% @items.each do |item| %>
            <tr>
              <th><%= item.id %></th> 
              <th><a href="<%= edit_item_path item %>"><%= item.description %></a></th>   
              <% if item.current %>
                <th><%= item.current.lender.name %></th>
                <th><%= item.current.borrower.name %></th>
                <%if item.current.due_date.to_date < Date.current.to_date%>
                  <th class="due"><%= item.current.due_date%></th>
                <%else%>
                  <th><%= item.current.due_date%></th>
                <%end%>
                <th class="checked-out">
                  <%= link_to "Check-in", checkin_log_path(item.current), data: { confirm: 'Are you sure?' } %></th>
              <% else %>
                <!-- Leaves empty space where lender and borrower should be -->
                <th></th>
                <th></th>
                <th></th>
                <th class="available">Available</th>
                <!-- Shows availability? -->
              <% end %>
                <th><%= link_to 'delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></th>
            </tr>
             <%end%>
          </table>

          <a class="btn btn-success largeBtn" href="/items/new" role="button">Add new Item </a>
    </div>
  </div>
</div>
