<div class="container-fluid" id="items">
  <div class="row">
      <div class="col-xs-12">
          <h1>Items</h1>

          <div class="summary">
            <div>
              Total : <%= @items.length %>
            </div>
            <div>
              Available : <%= @available %>
            </div>
            <div>
              Out : <%= @out %>
            </div>
          </div>

          <table class="table table-hover">
             <thead>
                <tr>
                  <th>Item id</th>
                  <th>Description</th>
                  <th>Lender</th>
                  <th>Borrower</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
             </thead>
            <% @items.each do |item| %>
            <tr>
              <th><%= item.id %></th> 
              <th><a href="<%= edit_item_path item %>"><%= item.description %></a></th>   
              <% if item.current %>
                <th><%= item.try(:lender).try(:name) %></th>
                <th><%= item.try(:borrower).try(:name) %></th>
                <th class="checked-out">
                  <%= link_to "Check-in", checkin_log_path(item.current), data: { confirm: 'Are you sure?' } %></th>
              <% else %>
                <th></th>
                <th></th>
                <th class="available">Available</th>
                <!-- Shows availability? -->
              <% end %>
                <th><%= link_to 'delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></th>
            </tr>
             <%end%>
          </table>

          <a class="btn btn-success largeBtn" href="/items/new" role="button">Add new Item </a>
    </div>
  </div>
</div>
