
<div class="container text-center">
   <h1 >Please confirm the details for returning </h1>

     <form action="<%= log_path %>" method="POST" enctype="multipart/form-data">
      <input name="_method" type="hidden" value="PATCH" />
       <table class="table table-hover">
         <thead>
          <tr>
            <th>Returned By</th>
            <th>Date Returned</th>
            <th>notes</th>
          </tr>
          </thead>
          <tr>
          	<input type="hidden" name="log[returner_id]" value="<%=current_user.id %>"><th><%=current_user.email%>
          </th>	
           <th>
           	<input type="hidden" name="log[date_returned]" value="<%= Time.now.strftime("%Y/%m/%d") %>"><%= Time.now.strftime("%Y/%m/%d") %>
           </th>
           <th>
             <textarea name="log[notes]"></textarea>
           </th>
          </tr>
      </table>
   <input type="submit" class="btn btn-warning largeBtn" value="Submit">
   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  </form>
</div>
