


	<div class="text-center">	
  <h1>Add a new log</h1>
     <form class="" action="<%= logs_path %>" method="POST">
       <table class="table table-hover">
        <thead>
          <tr>
            <th>Item</th>
            <th>Lender</th>
            <th>Borrower</th>
          </tr>
         </thead>

        <tr>
          <td>
            	<select name="log[item_id]" class="form-control">
            		 <% @items.each do |item| %>
                  <%if item.current == nil %>
            	     <option value="<%=item.id%>"><%= item.description %></option>
                  <%end%>
            	  <%end%>
            	</select>
          </td> 
        	<td>
            <select name="log[lender_id]" class="form-control">
               <% @lenders.each do |user| %>
                 <option value="<%=user.id%>"><%= user.name %></option>
              <%end%>
            </select>
         	</td>
            <td>
              <select name="log[borrower_id]" class="form-control">
                 <% @borrowers.each do |user| %>
                   <option value="<%=user.id%>"><%= user.name %></option>
                <%end%>
              </select>
            </td>
        </tr>
      </table>

      <input type="submit" class="btn btn-primary largeBtn" value="Add new Log">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  </form>

</div>  



   






