<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <nav class="collapse navbar-collapse">
        <div class="navbar-header">
          <a class="navbar-brand " href="/">Sparta Global</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="<%= items_path %>">Items</a></li>
          <li><a href="<%= logs_path %>">Logs</a></li>
          <li><a href="<%= new_log_path %>">Checkout Item</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a href="<%=academies_new_path%>">New Academy</a></li>
            <li><a href="#">Welcome , <%= current_user.name %></a></li>
            <li><a href="<%= logout_path %>">Logout</a></li>
          <% else %>
            <li><a href="<%= login_path %>">Login</a></li>
          <% end %>
        </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
